.home-container {
    padding-top: 180px;
    padding-left: 120px;
    width: 38vw;
}

.desc-container {
    margin-top: 24px;
    margin-bottom: 56px;
}

.home-title {
    font-size: 48px;
    letter-spacing: 0.02em;
    color: #062847;
    line-height: 64px;
    font-weight: bold;
}

