.search-container{
    margin-top: 54px;
    margin-left: 90px;
    margin-right: 99px;
    padding-left: 94px;
    background-color: #E6F7FF;
    border-radius: 16px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.search-title{
    font-size: 38px;
    line-height: 46px;
    color: #262626;
    font-weight: bold;
}

.text-field{
    width: 756px;
    height: 40px;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    outline: none;
    padding: 10px;

    &::placeholder {
        font-size: 16px;
        color: #BFBFBF;
    }
}

.result-container{
    margin-top: 54px;
    margin-left: 90px;
    margin-right: 99px;
    background-color: #F5F5F5;
    border-radius: 8px;
    padding: 23px 23px 27px 30px;
    display: flex;

}

.image-container{
    height: 285px;
    width: 280px;
    margin-bottom: 17px;
}

.superior-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.content-container{
    margin-left: 45px;
    flex: 1 1 auto;
}

.info-container{
    padding-top: 8px;
    padding-bottom: 17px;
    padding-right: 17px;
}

.info-labels{
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

strong {
    color: #737373;
    font-size: 16px;
}
